# Desafio _ Turismo

In [212]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Abrindo arquivo com panda
data_xlsx = pd.read_excel('csv\Teste_MeiodeHospedagem201801TrimestreCadasturPJ.xlsx')
nome_colunas = data_xlsx.columns # retorna uma lista com os nomes das colunas

# ex: dos Dados
exemplo = data_xlsx.head(10)
exemplo

,RAZÃO SOCIAL,NOME FANTASIA,CNPJ,NATUREZA JURIDICA,DATA INICIO OPERAÇÃO,PORTE,fl_em_operacao,SITUAÇÃO,ATIVIDADE,TIPOATIVIDADE,...,SITE,DATA GERAÇÃO CERTIFICADO,DATA VALIDADE CERTIFICADO,CÓDIGO CERTIFICADO,CNAE,SEGMENTOS TURISTICOS,LINGUAS,UH,UHs ACESSÍVEIS,TOTAL DE LEITOS
0,TECHNOTEL ASSOCIADOS EIRELI,TECHNOTEL ASSOCIADOS EIREI,34542000185,Empresa Individual de Responsabilidade Limitad...,1994-11-25,DEMAIS,1,Em Operação,Meio de Hospedagem,NaN,...,NaN,2018-01-17,2020-01-17,34542000185,5510801 - HOTÉIS,NaN,Inglês,72.0,2.0,216.0
1,MARCIO ANTONIO HORA MEDRADO,POUSADA SANTO ANTONIO,67368000177,Empresário (Individual),1994-05-16,MICROEMPRESA,1,Em Operação,Meio de Hospedagem,NaN,...,NaN,2017-12-04,2019-12-04,67368000177,5510801 - HOTÉIS,NaN,NaN,15.0,0.0,35.0
2,ROMA HOTEIS E REALIZACOES LTDA,DIROMA RIO QUENTE,71556000330,Sociedade Empresária Limitada,2004-01-26,DEMAIS,1,Em Operação,Meio de Hospedagem,NaN,...,WWW.DIROMA.COM.BR,2018-02-15,2020-02-15,71556000330,5510801 - HOTÉIS,NaN,NaN,240.0,0.0,675.0
3,CASUARINAS HOTEIS E TURISMO LIMITADA,HOTEL POUSADA CASUARINAS,196704000181,Sociedade Empresária Limitada,1994-09-19,MICROEMPRESA,1,Em Operação,Meio de Hospedagem,NaN,...,www.pousadacasuarinas.com,2018-03-26,2020-03-26,196704000181,5590603 - PENSÕES (ALOJAMENTO),NaN,NaN,15.0,0.0,33.0
4,ANTONIA S DE SANTANA,HOTEL ITATIAIA,274326000107,Empresário (Individual),1994-11-03,MICROEMPRESA,1,Em Operação,Meio de Hospedagem,NaN,...,http://www.hotelitatiaiaslz.com.br,2018-03-03,2020-03-03,274326000107,5510801 - HOTÉIS,NaN,NaN,20.0,0.0,61.0
5,KOCHHANN SCHWENGBER & CIA LTDA,HOTEL PALMAS EXECUTIVO,301517000110,Sociedade Empresária Limitada,1994-11-16,MICROEMPRESA,1,Em Operação,Meio de Hospedagem,NaN,...,www.palmasexecutivo.com.br,2018-02-28,2020-02-28,301517000110,5510801 - HOTÉIS,NaN,Alemão | Espanhol | Inglês,60.0,5.0,172.0
6,HOTEL FAZENDA BAHIA DAS PEDRAS LTDA,HOTEL FAZENDA BAHIA DAS PEDRAS,310961000100,Sociedade Empresária Limitada,1983-08-15,MICROEMPRESA,1,Em Operação,Meio de Hospedagem,NaN,...,NaN,2018-01-19,2020-01-19,310961000100,5510801 - HOTÉIS,NaN,NaN,20.0,0.0,20.0
7,HOTEL ALPENHOF LTDA,HOTEL ALPENHOF,315446000105,Sociedade Empresária Limitada,1994-11-23,MICROEMPRESA,1,Em Operação,Meio de Hospedagem,NaN,...,www.alpenhof.com.br,2018-01-26,2020-01-26,315446000105,5510801 - HOTÉIS,NaN,Espanhol,28.0,1.0,70.0
8,TARUMA EMPREENDIMENTOS TURISTICOS EIRELI,TARUMÃ POUSADA,323185000175,Empresa Individual de Responsabilidade Limitad...,1994-11-30,EMPRESA DE PEQUENO PORTE,1,Em Operação,Meio de Hospedagem,NaN,...,WWW.POUSADATARUMA.COM.BR,2017-03-21,2019-03-21,323185000175,5510801 - HOTÉIS,NaN,Inglês,39.0,1.0,93.0
9,HOTEL BEIRA MAR ITAPEMA LTDA,HOTEL BEIRA MAR ITAPEMA LTDA - EPP,330863000127,Sociedade Empresária Limitada,1994-12-05,EMPRESA DE PEQUENO PORTE,1,Em Operação,Meio de Hospedagem,NaN,...,www.beiramaritapema.com.br,2018-01-08,2020-01-08,330863000127,5510801 - HOTÉIS,NaN,Espanhol | Inglês,89.0,0.0,230.0

In [165]:
#consulta
nome_colunas

Index(['RAZÃO SOCIAL', 'NOME FANTASIA', 'CNPJ', 'NATUREZA JURIDICA',
       'DATA INICIO OPERAÇÃO', 'PORTE', 'fl_em_operacao', 'SITUAÇÃO',
       'ATIVIDADE', 'TIPOATIVIDADE', 'ESTRUTURA BÁSICA', 'CEP', 'UF',
       'LOCALIDADE', 'BAIRRO', 'LOGRADOURO', 'COMPLEMENTO', 'TELEFONE',
       'EMAIL_INSTITUCIONAL', 'EMAIL_COMERCIAL', 'SITE',
       'DATA GERAÇÃO CERTIFICADO', 'DATA VALIDADE CERTIFICADO',
       'CÓDIGO CERTIFICADO', 'CNAE', 'SEGMENTOS TURISTICOS', 'LINGUAS', 'UH',
       'UHs ACESSÍVEIS', 'TOTAL DE LEITOS'],
      dtype='object')

In [206]:
# dataset com colunas interessantes
data = pd.DataFrame(data_xlsx, columns = ['NOME FANTASIA', 'SITUAÇÃO' , 'UF','CEP', 'LINGUAS'])

#amostra
print("Linhas x Colunas" ,data.shape)
data.head(8)

Linhas x Colunas (1536, 5)

,NOME FANTASIA,SITUAÇÃO,UF,CEP,LINGUAS
0,TECHNOTEL ASSOCIADOS EIREI,Em Operação,SP,11055250,Inglês
1,POUSADA SANTO ANTONIO,Em Operação,BA,46750000,NaN
2,DIROMA RIO QUENTE,Em Operação,GO,75695000,NaN
3,HOTEL POUSADA CASUARINAS,Em Operação,PE,51011510,NaN
4,HOTEL ITATIAIA,Em Operação,MA,65046660,NaN
5,HOTEL PALMAS EXECUTIVO,Em Operação,SC,88339025,Alemão | Espanhol | Inglês
6,HOTEL FAZENDA BAHIA DAS PEDRAS,Em Operação,MT,78175000,NaN
7,HOTEL ALPENHOF,Em Operação,RS,95670000,Espanhol

In [305]:
# Eliminando todas As linha de Idiomas nulo/vazios
dataset = data.dropna()
dataset.head(8)

,NOME FANTASIA,SITUAÇÃO,UF,CEP,LINGUAS
0,TECHNOTEL ASSOCIADOS EIREI,Em Operação,SP,11055250,Inglês
5,HOTEL PALMAS EXECUTIVO,Em Operação,SC,88339025,Alemão | Espanhol | Inglês
7,HOTEL ALPENHOF,Em Operação,RS,95670000,Espanhol
8,TARUMÃ POUSADA,Em Operação,BA,45930000,Inglês
9,HOTEL BEIRA MAR ITAPEMA LTDA - EPP,Em Operação,SC,88220000,Espanhol | Inglês
10,POUSADA OGUM MARINHO,Em Operação,BA,48280000,Espanhol | Inglês | Italiano
11,NOBRE PALACE HOTEL,Em Operação,MG,39800127,Espanhol | Inglês | Italiano
13,TAWFIQ´S PALACE HOTEL,Em Operação,MT,78600000,Espanhol | Inglês

In [306]:
# Filtrando/Verificando por situacao
situacao_bool = dataset.SITUAÇÃO == 'Em Operação' #true
situacao_bool[0:2] # ex de prestadoras de serviço que estao funcionando
dataset[situacao_bool][0:5] # ex

,NOME FANTASIA,SITUAÇÃO,UF,CEP,LINGUAS
0,TECHNOTEL ASSOCIADOS EIREI,Em Operação,SP,11055250,Inglês
5,HOTEL PALMAS EXECUTIVO,Em Operação,SC,88339025,Alemão | Espanhol | Inglês
7,HOTEL ALPENHOF,Em Operação,RS,95670000,Espanhol
8,TARUMÃ POUSADA,Em Operação,BA,45930000,Inglês
9,HOTEL BEIRA MAR ITAPEMA LTDA - EPP,Em Operação,SC,88220000,Espanhol | Inglês

In [307]:
# eliminando a coluna Situacao/ja usei
new_dataset = dataset.drop('SITUAÇÃO',axis=1)
new_dataset[0:5] # ex

,NOME FANTASIA,UF,CEP,LINGUAS
0,TECHNOTEL ASSOCIADOS EIREI,SP,11055250,Inglês
5,HOTEL PALMAS EXECUTIVO,SC,88339025,Alemão | Espanhol | Inglês
7,HOTEL ALPENHOF,RS,95670000,Espanhol
8,TARUMÃ POUSADA,BA,45930000,Inglês
9,HOTEL BEIRA MAR ITAPEMA LTDA - EPP,SC,88220000,Espanhol | Inglês

In [332]:
# Filtrar por Estado
    # Dataframes de cada estado
AC_dataset = new_dataset[new_dataset.UF == 'AC']
AL_dataset = new_dataset[new_dataset.UF == 'AL']
AP_dataset = new_dataset[new_dataset.UF == 'AP']
AM_dataset = new_dataset[new_dataset.UF == 'AM']
BA_dataset = new_dataset[new_dataset.UF == 'BA']
CE_dataset = new_dataset[new_dataset.UF == 'CE']
DF_dataset = new_dataset[new_dataset.UF == 'DF']
ES_dataset = new_dataset[new_dataset.UF == 'ES']
GO_dataset = new_dataset[new_dataset.UF == 'GO']
MA_dataset = new_dataset[new_dataset.UF == 'MA']
MT_dataset = new_dataset[new_dataset.UF == 'MT']
MS_dataset = new_dataset[new_dataset.UF == 'MS']
MG_dataset = new_dataset[new_dataset.UF == 'MG']
PA_dataset = new_dataset[new_dataset.UF == 'PA']
PB_dataset = new_dataset[new_dataset.UF == 'PB']
PR_dataset = new_dataset[new_dataset.UF == 'PR']
PE_dataset = new_dataset[new_dataset.UF == 'PE']
PI_dataset = new_dataset[new_dataset.UF == 'PI']
RJ_dataset = new_dataset[new_dataset.UF == 'RJ']
RN_dataset = new_dataset[new_dataset.UF == 'RN']
RS_dataset = new_dataset[new_dataset.UF == 'RS']
RO_dataset = new_dataset[new_dataset.UF == 'RO']
RR_dataset = new_dataset[new_dataset.UF == 'RR']
SC_dataset = new_dataset[new_dataset.UF == 'SC']
SP_dataset = new_dataset[new_dataset.UF == 'SP']
SE_dataset = new_dataset[new_dataset.UF == 'SE']
TO_dataset = new_dataset[new_dataset.UF == 'TO']

 # ex
print (PB_dataset[0:5],"\n")

                     NOME FANTASIA  UF       CEP             LINGUAS
212               SESC CABO BRANCO  PB  58045010              Inglês
262             VAL ATLANTIC HOTEL  PB  58045010              Inglês
408  INTERMARES POUSADA TÊNIS LTDA  PB  58310000   Espanhol | Inglês
440    BRISTOL FLEXY PORTAL DO SOL  PB  58037010   Espanhol | Inglês
538                  HOTEL CAIÇARA  PB  58039000            Espanhol

In [339]:
PE_dataset.dtypes
PE_dataset[0:5] # Prestadoras de servico de PE

,NOME FANTASIA,UF,CEP,LINGUAS
107,ATLANTICA HOTELS INTERNATIONAL BRASIL LTDA,PE,51011000,Espanhol | Inglês | Italiano
221,POUSADA CANTO DO PORTO,PE,55590000,Inglês
241,POUSADA KOALA,PE,55590000,Espanhol | Francês | Inglês | Italiano
284,POUSADA CLIMA DA SERRA,PE,55636000,Português
354,POUSADA LENDA DAS AGUAS,PE,53990000,Espanhol | Inglês

In [344]:
#verificando prestadoras de servico por tipo de idioma que turistas podem encontrar

PE_dataset[PE_dataset.LINGUAS.str.contains('Inglês')] # testando

,NOME FANTASIA,UF,CEP,LINGUAS
107,ATLANTICA HOTELS INTERNATIONAL BRASIL LTDA,PE,51011000,Espanhol | Inglês | Italiano
221,POUSADA CANTO DO PORTO,PE,55590000,Inglês
241,POUSADA KOALA,PE,55590000,Espanhol | Francês | Inglês | Italiano
354,POUSADA LENDA DAS AGUAS,PE,53990000,Espanhol | Inglês
374,HOSTEL BOA VIAGEM,PE,51111050,Francês | Inglês
412,HOTEL ARMAÇÃO EIRELI - EPP,PE,55590000,Espanhol | Inglês
566,BONITO PLAZA HOTEL LTDA,PE,55680000,Francês | Inglês
573,HOTEL POUSADA SÃO FRANCISCO,PE,53120010,Inglês
616,LG INN HOTEL,PE,51020040,Inglês
653,INTERNACIONAL PALACE HOTEL,PE,51021000,Alemão | Espanhol | Inglês
668,NAVEGANTES PRAIA HOTEL,PE,51020011,Alemão | Inglês | Italiano
673,PEDRAS SECAS,PE,53990000,Espanhol | Inglês
684,HOTEL PONTAL DE OCAPORÃ,PE,55590000,Espanhol | Francês | Inglês
685,HOTEL TABAOBI,PE,55590000,Inglês
727,RAMADA HOTEL & SUÍTES RECIFE,PE,51030020,Inglês
734,HOTEL 7 COLINAS,PE,53120070,Inglês | Espanhol | Francês
877,METAMBIENTAL,PE,53625375,Inglês | Espanhol | Português
944,ALBERGUE ESTACAO DO MANGUE,PE,51021260,Inglês | Espanhol
989,POUSADA LORDE INGLÊS,PE,50050230,Espanhol | Inglês
1027,VIVAZ BOUTIQUE HOTEL,PE,51011010,Inglês | Espanhol
1033,RAJA POUSADA MARAMBAIA,PE,55590000,Espanhol | Inglês
1125,Tesouro de Noronha,PE,53990000,Inglês
1309,POUSADA COCO BEACH,PE,55590000,Inglês
1479,POUSADA DO VALE,PE,53990000,Espanhol | Francês | Inglês | Italiano

In [354]:
PE_dataset[(PE_dataset.LINGUAS.str.contains('Inglês')) and (PE_dataset.LINGUAS.str.contains('Espanhol'))]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().